ul {
  padding: 0px;
  li {
    margin: 25px 0px;
    list-style-type: none;
    a{
      // text-decoration: none;
    }
  }
}

.bloggpost-header {
  a {
    font-family: Courier;
    text-decoration: none;
    // font-size: 30px;
    color: #91C7B1;
  }
  .dato {
    line-height: 1.0;
    font-size: 14px;
    color: #545484;
    margin-top: 3px;
  }
}

.sykkelkode {
  background-color: #91C7B1;
}