<div class="artikkel-visning">
  <div class="bloggpost-wrapper">
    <div class="bloggpost-header">
      <h1>
        <%= link_to "Ren tekst", fordeler_path %>
      </h1>
      <p class="dato">
        10/2020
      </p>
    </div>
    <div class="bloggpost-intro">
      <p>
        Det finnes smarte folk som har sterke meninger om "proprietære filformater", 
        "plain text" og såkalt interoperabilitet mellom systemer. Her vil jeg gi en 
        introduksjon til hva som menes med plain text, og hvilke fordeler og ulemper det har som 
        format til datalagring. 
      </p>
    </div>
  </div>
</div>
