<div class="artikkel-visning">
  <div class="bloggpost-wrapper">
    <div class="bloggpost-header">
      <h1>
        <%= link_to "Ren tekst", fordeler_path %>
      </h1>
      <p class="dato">
        10/2020
      </p>
    </div>
    <div class="bloggpost-intro">
      <p>
        Det finnes smarte folk som har sterke meninger om "proprietære filformater", 
        "plain text" og såkalt interoperabilitet mellom systemer. Her vil jeg gi en 
        introduksjon til hva som menes med plain text, og hvilke fordeler og ulemper det har som 
        format til datalagring. 
      </p>
    </div>
  </div>
  <div class="bloggpost-wrapper">
    <div class="bloggpost-header">
      <h1>
        <%= link_to "Rammeverk", rammeverk_path %>
      </h1>
      <p class="dato">
        11/2020
      </p>
    </div>
    <div class="bloggpost-intro">
      <p>
        Et rammeverk er en samling konvensjonelle løsninger som en utvikler kan ta i bruk.
        Innen webutvikling er det nå en liten jungel av ulike alternativer som er i aktiv bruk, 
        og denne artikkelen er et forsøk på å gi en liten primer på hva som kjennetegner et 
        utvalg av de. 
      </p>
    </div>
  </div>
</div>
