<div class="spill-container">
  <div class="himmel">
    <div class="fugl">
    </div>
  </div>
  <div class="bakke">
  </div>
</div>
<div class="marginUnder"></div>
<%= javascript_pack_tag 'flappybird' %>
