<div>
  <p>
    Kildekoden kan leses <%= link_to "her", "https://github.com/martinlillebo/kodeblogg/blob/master/app/javascript/packs/flappybird.js" %>
  </p>
</div>
<div class="spill-container">
  <div class="himmel">
    <div class="ticker">
      <span class="ticker-tall">
        0
      </span>
    </div>
    <div class="fugl">
    </div>
  </div>
  <%# <div class="bakke">
  </div> %>
</div>
<%# <div class="marginUnder"></div> %>
<%= javascript_pack_tag 'flappybird' %>
