<h1>Hei forside</h1>
<p>Kommer kanskje en blogg her</p>
<section>
  <h2>Plain tekst og fordeler med å lagre data i lesbart format</h2>
  <p class="">"Plain text" betegner tekst som både kan leses og forstås av mennesker. (Norsk: "Klartekst" iflg. Clue).
    Kravet om lesbarhet utelukker alt som er lagret i komprimert format. Kravet om forståbarhet setter i tillegg krav til meningsbærende navngiving. For eksempel er ikke `foo.bar = xyfig` meningsbærende nok til at vi kan si at dette er plain tekst/klartekst. 
  </p>
  <p>
    Eksempler på filformater som kan oppfylle kravene til plain tekst er `.txt`, `.html` og `.xml`.  
    [@hunt_pragmatic_1999], s. 73
    <!-- references (auto)
    [@hunt_pragmatic_1999]: Hunt, Andrew, and David Thomas. 1999. The Pragmatic Programmer - from Journeyman to Master. Addison-Wesley Professional. 
    -->
  </p>
</section>
<section>
  <h2>Ortogonalitet betegner et uavhengighetsforhold mellom to programvarekomponenter</h2>
  <p>
    Hvis to blokker med kode er ortogonale i forhold til hverandre, mener vi at den ene kodeblokken kan endres uten at det direkte medfører et behov for å endre den andre også. 
  </p>
  <p>
    Eksempelvis vil en database og et brukergrensesnitt være ortogonale om vi kan endre UI-en uten at det utløser et behov for å måtte endre databasen, og vice versa. [@hunt_pragmatic_1999], s. 34. 
  </p>
</section>
