<h1>Hva er kodebloggen?</h1>
<p>Kodebloggen er et hobbyprosjekt som skrives av meg, Martin Lillebo.</p>
<p>Jeg liker å lære om ting ved å skrive om de. Og når det først er gjort, er det ikke så mye ekstraarbeid å laste det opp til en blogg.</p>
<p>Når jeg i tillegg fant ut at det er ganske gøy å lage en blogg, var ikke veien så lang før Kodebloggen ble en realitet.</p>
<p>Om du lærte noe av det som står her, er det veldig trivelig.</p>
